.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
table {
  font-family: sans-serif;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  margin-bottom: 50px;
}
table thead tr th {
  background: #626e7e;
  color: #d1d5db;
  padding: 0.5em;
  overflow: hidden;
}
table thead tr th:first-child {
  border-radius: 3px 0 0 0;
}
table thead tr th:last-child {
  border-radius: 0 3px 0 0;
}
table thead tr th i {
  vertical-align: middle;
  font-size: 2em;
}
table thead tr th .long {
  background: #626e7e;
  font-family: sans-serif;
  color: #d1d5db;
}
table tbody tr {
  background: #90c9eb;
}
table tbody tr:nth-child(odd) {
  background: #b4dcf3;
}
table tbody tr:nth-child(4n + 0) td {
  border-bottom: 1px solid #626e7e;
}
table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #626e7e;
  position: relative;
  height: 22px;
  cursor: pointer;
}
table tbody tr td:last-child {
  border-right: 1px solid #626e7e;
}
table tbody tr td.hour {
  font-size: 20px;
  padding: 0;
  color: #626e7e;
  background: #fff;
  border-bottom: 1px solid #626e7e;
  border-collapse: separate;
  min-width: 60px;
  cursor: default;
}
table tbody tr td.hour span {
  display: block;
}
@media (max-width: 60em) {
  table tbody tr td.hour span {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    font-size: 15px;
  }
}
@media (max-width: 27em) {
  table thead tr th {
    font-size: 65%;
  }
  table tbody tr td.hour {
    font-size: 1.7em;
  }
  table tbody tr td.hour span {
    transform: translateY(16px) rotate(270deg);
    -webkit-transform: translateY(16px) rotate(270deg);
    -moz-transform: translateY(16px) rotate(270deg);
  }
}
